.art-gallery {
  padding-bottom: 0;
}

.art-gallery h2 {
  padding-top: 89px;
  padding-bottom: 96px;
  font-size: calc(50px + (52 - 50) * (100vw - 420px) / (1920 - 1024));
  font-family: var(--Forum);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}

.picture-container {
  height: 1960px;
  overflow-y: hidden;
  position: relative;
  min-height: 1288px;
}

.picture-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.picture-inner-container {
  --art-gallery-column-gap: 34px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: content;
  gap: 24px var(--art-gallery-column-gap);
  height: 3000px;
  justify-content: unsafe flex-start;
  min-height: 2000px;
}

.picture-inner-container img {
  width: calc((100% - var(--art-gallery-column-gap) * 2) / 3);
}

@media (max-width: 1024px) {
  .art-gallery {
    padding-bottom: 0;
  }

  .art-gallery h2 {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .art-gallery h2 {
    font-size: calc(40px * (100vw - 420px) / 528px);
    line-height: calc(60px * (100vw - 420px) / 528px);
    padding-top: 38px;
    padding-bottom: 44px;
  }

  .picture-container {
    min-height: calc(1090px * (100vw - 420px) / 528px);
  }

  .picture-inner-container img {
    width: calc((100% - var(--art-gallery-column-gap) * 2) / 2);
  }
}

@media (max-width: 420px) {
  .art-gallery h2 {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .picture-inner-container img {
    width: calc(100%);
  }
}