.art-gallery {
  padding-bottom: 0;
}

.art-gallery h2 {
  padding-top: 89px;
  padding-bottom: 96px;
  font-size: calc(28px + 52 * (100vw / 1920));
  font-family: var(--Forum);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}

.picture-container {
  height: 1960px;
  overflow-y: hidden;
  position:relative
}

.picture-container::after {
  content: "";
  position:absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.picture-inner-container {
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px 34px;
}

@media (max-width: 1024px){
  .art-gallery {
    padding-bottom: 0;
    width: 984px;
  }

  .art-gallery h2 {
    font-size: 50px;
}

.picture-container {
  height: 1288px;
}

.picture-inner-container{
  height: 2000px;
}

.picture-inner-container img{
  width: 304px;
  height: auto;
  
}

}

@media (max-width: 768px){
    .art-gallery h2 {
    font-size: calc(28px + (40 - 28) * (100vw - 420px) / (768 - 420));
}

@media (max-width: 420px){
  .art-gallery{
    display: none;
  }
}