.art-gallery {
  min-height: 2200px;
  overflow: hidden;
}

.art-gallery h2 {
  padding-top: 89px;
  padding-bottom: 96px;
  font-size: 80px;
  font-family: var(--Forum);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
}

.picture-container {
  display: none;
  height: 1960px;
  overflow-y: hidden;
  position:relative
}

.picture-container::after {
  content: "";
  position:absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.picture-inner-container {
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px 34px;
}

