.modal {
  display: block;
  position: fixed;
  left:-10%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.5);
  border: 2px solid black;
  transition: all 03s ease;
}

.modal.hidden {
  margin-right: 100%;
  opacity: 0;
  z-index: -1000;
  transition: all 03s ease;
}

.modal .modal-body {
  background: #fff;
  margin-left: 20.3%;
  width: 1440px;
  height: 844px;
}

.content {
  margin: 0;
  display: flex;
  width: 970px;
  height: 663px;
}

.content-left {
  width: 400px;
  margin-right: 40px;
}

.content-right {
  width: 54,6;
  border: 2px solid black;
}

.logo-modal {
  display: flex;
  flex-direction: column;
}

.logo-modal img{
  width: 85px;
  height: 41px;
}

.logo-modal span {
  padding-bottom: 11px;
  font-size: 50px;
  font-family:'Forum', sans-serif;
  color: #9d8665;
  text-transform: uppercase;
}

.modal .form-container {
  padding-top: 90px;
  padding-left: 234px;
}

.content-left p {
  padding-bottom: 7px;
  font-size: 18px;
  font-family: 'Roboto-regular', sans-serif;
  color: #710707;
  border-bottom: 3px solid #710707;
}

.content-left .left-form {
  padding-bottom: 60px;
}

.place-select select {
  margin-top: 60px;
  display: inline-block;
  font-size: 18px;
  font-family: 'Roboto-regular', sans-serif;
  height: 45px;
  width: 190px;
  margin-left: 7px;
  margin-bottom: 15px;
}

.form-input input{
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'Roboto-regular', sans-serif;
}

.form-input select{
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'Roboto-regular', sans-serif;
}

#input {
  width:400px;
  height:45px;
}

.entry-ticket-form {
  display:block;
  padding: 10px;
  width: 400px;
  height: 135px;
  border: 1px solid black;
}

.entry-ticket-form p{
  font-size: 18px;
  font-family: 'Forum', sans-serif;
  color:#9d8665;
  border-bottom: 2px solid #710707;
}

.row {
  display: flex;
  justify-content: space-between;
}

.span-form {
  flex: 70%;
  font-size: 18px;
  font-family: 'Roboto-regular', sans-serif;
}

.button-group {
  flex:30%;
}

.counter-group-form-1 {
  width: 115px;
  height: 25px;
  padding-bottom: 5px;
  border: 1px solid black;
  flex-wrap: nowrap;
}

.entry-ticket-form .counter-group-form button {
  width: 35px;
  height: 25px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.entry-ticket-form .counter-group-form input {
  width: 35px;
  height: 50px;
  font-size: 18px;
  background-color: transparent;
  color: var(--bg-dark);
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
}

.content-right-top {
  padding: 15px 20px 15px 20px;
  width: 470px;
}

.content-right-top {
  display: flex;
  flex-direction: row;
}

.content-right-top-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.content-right-top-left p {
  font-size: 32px;
  font-family: 'Roboto-medium', sans-serif;
}

.content-right-top-left h6 {
  font-size: 22px;
  font-family: 'Roboto-medium', sans-serif;
  color: #710707;
  padding-bottom: 10px;
}

.span-content-right-top {
  display: block;
  padding-top: 10px;
}

#ticket-span{
  font-size: 18px;
  font-family: 'Roboto-light', sans-serif;
}

.content-right-top-right {
  width: 50%;
  display: flex;
  justify-content: end;
}

.content-right-top-right img {
  width:150px;
  height:120px;
}

.content-right-medium {
  padding: 0 20px 10px 20px;
}

.bill{
  border-bottom: 3px solid #710707;
  margin-bottom: 10px;
}

.content-bill span {
  font-size: 22px;
  font-family:'Roboto-regular', sans-serif;
  display: inline-block;
}

#bill-basic {
  display: inline-block;
  padding-right: 267px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family:'Roboto-regular', sans-serif;
}

#bill-senior {
  display: inline-block;
  padding-right: 257px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family:'Roboto-regular', sans-serif;
}

#finall-bill {
  display: inline-block;
  padding-right: 327px;
  font-size: 32px;
  font-family:'Roboto-regular', sans-serif;
}

#finall-bill-span {
  display: inline-block;
  font-size: 32px;
  font-family:'Roboto-regular', sans-serif;
}

.modal .close {
  color: var(--bg-dark);
  float: right;
  padding-top: 29px;
  padding-right: 43px;
}

.content-right-bottom {
  padding: 0 20px 10px 20px;
}

.card-upper {
  position: absolute;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
  border-radius: 3%;
  z-index: 100;
}

.card-input input {
  width: 215px;
  height: 35px;
}

.card-name {
  font-size: 12px;
  font-family: 'Roboto-regular', sans-serif;
}

.card-input-month {
  display: inline-block;
}

.card-input-month input {
  width: 100px;
  height: 35px;
}

.card-input-years {
  display: inline-block;
}

.card-input-years input {
  width: 100px;
  height: 35px;
}

.cardholder-name input{
  width: 320px;
  height: 35px;
}

.card-left {
  display: block;
  float: left;
}

.card-upper img {
  display: block;
  float: right;
}

.card-nether {
  position: absolute;
  margin-left: 115px;
  margin-top: 20px;
  width: 360px;
  height: 211px;
  background-color: #A4A4A3;
  border-radius: 3%;
  z-index: 1;
}

.CVV-card {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.CVV-card input {
  width: 75px;
  height: 35px;
}

.card-name span {
  font-size: 10px;
}

.belt {
  position: absolute;
  top: 30px;
  height: 45px;
  width: 360px;
  border: 1px solid black;
  background-color: black;
}

.card-nether button {
  position: relative;
  width: 220px;
  height: 45px;
  margin: 267px 263px 117px 250px;
  border: 0;
  background-color: #710707; 
  outline: 0;
  border: 0;
  border: 5%;
  color: white;
}

.modal .close:hover,
.modal .close:focus {
  -webkit-filter: invert(65%) sepia(15%) saturate(806%) hue-rotate(356deg) brightness(81%) contrast(80%);
  cursor: pointer;
}

