.modal {
  display: flex;
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1000;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.modal:target .modal-body {
  opacity: 1;
  transform: translate(0px, 0px);
}

.modal-close-anchor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-close{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-body{
  position: relative;
  width: 1440px;
  height: 845px;
  margin: 0 auto;
  padding: 91px 235px;
  background-color: white;
  opacity: 0;
  transform: translate(-100%, 0px);
  transition: 0.5s;
}

.content{
  display: flex;
  flex-direction: row;
  row-gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.content-left {
  width: 400px;
}

.modal-logo {
  width: 400px;
  height: 41px;
}

.modal-logo-title {
  margin-bottom: 15px;
  font-family: 'Forum', sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
}

.modal-tour {
  position: relative;
  margin-bottom: 73px;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
}

.modal-tour::after,
.entry-ticket::after,
.overview-count::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.content-left > input {
  display: inline-block;
  margin-bottom: 20px;
}

.date,
.time {
  width: 188px;
  height: 43px;
  background: white;
  border: 1px solid black;
}  

.time {
  margin-left: 16px;
  padding-left: 43px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-image: url('./assets/svg/Time.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.date {
  padding-left: 43px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-image: url('./assets/svg/date.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.date::-webkit-calendar-picker-indicator,
.time::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url('./assets/svg/arrow.svg') no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
}

.name,
.email,
.phone,
.ticket-type {
  width: 398px;
  height: 43px;
  background: white;
  border: 1px solid var(--bg-dark);
  margin-bottom: 20px;
}

.name {
  background-image: url('./assets/svg/name.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.email {
  background-image: url('./assets/svg/email.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.phone {
  background-image: url('./assets/svg/tel.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.name::placeholder,
.mail::placeholder,
.phone::placeholder,
.ticket-type {
  padding: 0 43px;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.ticket-type {
  background-image: url('./assets/svg/ballot.svg'),
                    url('./assets/svg/arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 15px, 368px;
  background-position-y: center;
  appearance: none;
}

.entry-ticket-form {
  padding: 10px 15px;
  width: 398px;
  height: 133px;
  background: white;
  border: 1px solid black;
}

.entry-ticket{
  position: relative;
  margin-bottom: 22px;
  font-family: 'Forum', sans-serif;;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9d8665;
}

.entry-ticket-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry-ticket-type span {
  margin-top: 4px;
  font-size: 18px;
  line-height: 21px;
}

.entry-ticket-button {
  margin-left: 25px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
  height: 25px;
  border: 1px solid black;
}

.entry-button-minus,
.entry-button-plus {
  display: block;
  width: 33px;
  height: 23px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.entry-button-minus:hover,
.entry-button-plus:hover {
  background-color: #9d8665;
  border: 1px solid #9d8665;
}

.entry-button-number {
  width: 45px;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: none;
  background: transparent;
}

.content-right {
  padding: 25px 30px;
  width: 528px;
  height: 661px;
  border: 1px solid black;
}

.content-right-top {
  width: 470px;
  margin-bottom: 22px;
  background-image: url('./assets/img/form/Rectangle.jpg');
  background-position: right top;
  background-repeat: no-repeat;
}

.content-right-top-left-overview {
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: black;
}

.content-right-top-left-tour {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #710707;
  opacity: 0.9;
}

.content-box {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.icon-date {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-image: url('./assets/svg/date.svg');
}

.content-right-middle {
  position: relative;
}

.icon-time {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-image: url('./assets/svg/Time.svg');
}

.icon-type {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-image: url('./assets/svg/check_circle_outline.svg');
}

.content-right-middle-left-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}



.content-right-middle-left-name {
  font-size: 22px;
  line-height: 26px;
}

.content-right-middle-left-quantity {
  display: inline-block;
  width: 32px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  color: #A4A4A3;
  background-color: var(--bg-dark);
}

.content-right-middle-bill-left {
  margin-top: 21px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.content-right-middle-bill-left{
  margin-left: 327px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.content-right-top-card {
    background-image: url('../assets/svg/card1.svg'), url('../assets/svg/card2.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, top 30px left 110px;
    height: 241px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.content-right-top-card-left {
    width: 360px;
    padding-top: 34px;
    padding-left: 19px;
}

.content-right-top-card-left-field {
    width: 215px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.content-right-top-card-left-field:last-child {
    width: 320px;
    height: 30px;
}

.content-right-top-card-left-field input {
    width: 100%;
    height: 30px;
}

.content-right-top-card-left-field select {
    width: 100px;
    height: 35px;
    padding: 5px 10px;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content-right-top-card-left-field{
    position: relative;
}

.content-right-top-card-left-field::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    width: 29px;
    background-image: url('../assets/svg/form/form-arrows.svg');
}

.content-left-top-card-name {
    width: 100%;
    margin-top: 135px;
    margin-left: 10px;
}

.content-left-top-card-name input {
    width: 70px;
    height: 30px;
}

.content-left-top-card-right {
    width: 110px;
}


/*
.content-right-bottom {
  padding: 0 20px 10px 20px;
}

.card-upper {
  position: absolute;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
  border-radius: 3%;
  z-index: 100;
}

.card-input input {
  width: 215px;
  height: 35px;
}

.card-name {
  font-size: 12px;
  font-family: 'Roboto-regular', sans-serif;
}

.card-input-month {
  display: inline-block;
}

.card-input-month input {
  width: 100px;
  height: 35px;
}

.card-input-years {
  display: inline-block;
}

.card-input-years input {
  width: 100px;
  height: 35px;
}

.cardholder-name input{
  width: 320px;
  height: 35px;
}

.card-left {
  display: block;
  float: left;
}

.card-upper img {
  display: block;
  float: right;
}

.card-nether {
  position: absolute;
  margin-left: 115px;
  margin-top: 20px;
  width: 360px;
  height: 211px;
  background-color: #A4A4A3;
  border-radius: 3%;
  z-index: 1;
}

.CVV-card {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.CVV-card input {
  width: 75px;
  height: 35px;
}

.card-name span {
  font-size: 10px;
}

.belt {
  position: absolute;
  top: 30px;
  height: 45px;
  width: 360px;
  border: 1px solid black;
  background-color: black;
}

.card-nether button {
  position: relative;
  width: 220px;
  height: 45px;
  margin: 267px 263px 117px 250px;
  border: 0;
  background-color: #710707; 
  outline: 0;
  border: 0;
  border: 5%;
  color: white;
  overflow: hidden;
  transition: background 400ms;
  cursor: pointer;
}

span.ripple{
  position:absolute;
  border-radius:50%;
  transform:scale(0);
  animation: ripple 600ms linear;
  background-color: white;
}
*/

@keyframes effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.modal-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  display: block;
  border: none;
  background: var(--dark-section-text-color) url('./assets/svg/Close.svg') no-repeat center;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  -webkit-filter: invert(65%) sepia(15%) saturate(806%) hue-rotate(356deg) brightness(81%) contrast(80%);
  cursor: pointer;
}

