.explore-section {
  display: flex;
  justify-content: space-between;
  height: 865px;
}

.explore-section * {
  width: 50%;
}

.explore-section h2 {
  position: relative;
  margin-bottom: 89px;
  width: 100%;
  font-size: 80px;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Forum', sans-serif;
  color: var(--font-white);
}

.explore-section h2::after {
  content: '';
  position: absolute;
  bottom: -29px;
  width: 91%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--dark-red);
}

.explorer-text {
  width: 85%;
}

.explore-section p {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 7px;
  text-align: justify;
  line-height: 39px;
  letter-spacing: 0.4px;
  word-spacing: 0.1px;
  font-size: 21px;
  font-family: var(--Roboto-light);
  color: var(--font-white);
}

.explore-section p span {
  color: var(--font-gold);
}

.explore-section .img-comp-container {
  position: relative;
  object-fit: contain;
  margin-top: 90px;
  width: auto;
  height: auto;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  width: auto;
  height: auto;
}

.img-comp-img img {
  display: block;
  width: auto;
  height: auto;
}

.img-comp-slider {
  top: 0;
  cursor: ew-resize;
  height: auto;
  position: absolute;
  width: 5px;
  z-index: 9;
  height: 700px;
}

.img-comp-slider::before,
.img-comp-slider::after {
  content: '';
  display: block;
  height: 352px;
  background-color: white;
}

.img-comp-slider > .slider-handle {
  border: 3px solid white;
  border-radius: 50%;
  margin-left: -7px;
}

@media (max-width: 1024px){
  .explore-section {
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 1149px;
  }

  .section-text{
    position: absolute;
    width: 984px;
  }

  .explore-section h2 {
    padding-top: 60px;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    width: 100%;
    margin-bottom: 87px;
  }

  .explore-section h2::after {
    width: 100%;
    bottom: -25px;
   }

  .explorer-text {
    width: 100%;
  }

  .explore-section p {
    width: 100%;
    padding-top: 1px;
    padding-bottom: 0px;
    line-height: 35px;
    font-size: 20px;
  }

  .hidden-1024{
    display:none;
  }

  .explore-image{
    margin-top: 300px;
    position: absolute;
    width: 700px;
    height: 720px;
  }

  .explore-section .img-comp-container {
     width: 700px;
    height: 720px;
    padding: 0px;
  }
  
  .img-comp-img {
     width: 700px;
    height: 720px;
    
  }
  
  .img-comp-img img {
     width: 700px;
    height: 720px;

  }
  
  .img-comp-slider {
    top: 0;
     height: 720px;
    width: 2px;
    
  }
  
  .img-comp-slider::before,
  .img-comp-slider::after {
     height: 352px;
  }
  
}

  @media (max-width: 768px){
    .explore-section{
       height:928px;
    }

    .section-text{
      width: calc(390px + (728 - 390) * (100vw - 420px) / (768 - 420));
  }
    
    .explore-section h2 {
      padding-top: 39px;
      font-size: calc(28px + (40 - 28) * (100vw - 420px) / (768 - 420));
      line-height: calc(40px + (60 - 40) * (100vw - 420px) / (768 - 420));
      width: calc(390px + (730 - 390) * (100vw - 420px) / (768 - 420));
    }

      .explore-section h2::after {
      width: calc(390px + (730 - 390) * (100vw - 420px) / (768 - 420));;
      bottom: -23px;
     }

     .explore-image{
      margin-top: 77px;
      max-width:728px;
      max-height:750px;
    }
      
    .explore-section .img-comp-container {
      width:calc(368px + (728 - 368) * (100vw - 420px) / (768 - 420));
    }

     .explore-section .img-comp-container {
      width: 705px;
      height: 728px;
      padding: 0px;
    }
    
    .img-comp-img {
      width: 705px;
      height: 728px;
      
    }
    
    .img-comp-img img {
       width: 705px;
      height: 728px;
    }
    
    .img-comp-slider {
      top: 0;
       height: 728px;
    }
    
  }

  @media (max-width: 420px){
    .explore-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 551px;
  }

    .explore-section h2 {
    padding-top: 42px;
    }

    
   .explore-image{
    margin-top: 57px;
    max-width:368px;
    max-height:380px;
  }
    
  .explore-section .img-comp-container {
    width:calc(368px + (728 - 368) * (100vw - 420px) / (768 - 420));
  }

   .explore-section .img-comp-container {
    position: relative;
    object-fit: contain;
    width: 368px;
    height: 380px;
    padding: 0px;
  }
  
  .img-comp-img {
    position: absolute;
    width: 368px;
    height: 380px;
    overflow: hidden;
    width: 368px;
    height: 380px
  }
  
  .img-comp-img img {
    display: block;
    width: 368px;
    height: 380px
  }
  
  .img-comp-slider {
    top: 0;
    cursor: ew-resize;
    height: 380px;
    position: absolute;
    width: 2px;
    z-index: 9;
    height: 380px;

  }
  
  .img-comp-slider::before,
  .img-comp-slider::after {
    content: '';
    display: block;
    height: 182px;
    background-color: white;
    width: 3px;
  }
  
  .img-comp-slider > .slider-handle {
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -7px;
  }
  }
  

