@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@font-face {
   font-family: Forum;
   src: url("./assets/fonts/Forum-Regular.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-white: #ffff;
  --Forum: 'Forum', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --Roboto-bold: 'Roboto-bold', sans-serif;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

a{
 text-decoration: none;
}

html{
 scroll-behavior: smooth;
}
.wrap-body{
  max-height: 6250px;
}

.wrap-dark{
 padding-left:1.76%;
 padding-right: 1.76%;

 background-color: var(--bg-dark);
 color: var(--font-white);
}
.wrap-dark a:link {
 color: var(--font-white);
}
.wrap-dark a:visited {
 color: var(--font-white);
}
.wrap-dark a:hover {
 color: var(--font-gold);
}

.wrap-white{
 padding-left:1.76%;
 padding-right: 1.76%;
 background-color:var(--font-white);
}

.wrap-video{
 padding-top:90px;
 padding-bottom: 75px;
 background-color:var(--font-white);
}

.container{
 margin: 0px auto;
  max-width: 1024px;
}

.title-padding{
 text-align: justify;
 font-family:var(--Roboto);
 font-size: 30px;
 letter-spacing: 3px;
}

 .header-container {
 display: flex;
 justify-content: space-between;
 padding-right: 0px;
 align-items: center;
 height: 130px;
 }

.image-icon{
 position:absolute;
 width: 30%;
 font-family: var(--Forum);
 font-size: 28px;
 text-transform: uppercase;
 letter-spacing: 5px;
 color: var(--font-white);
 z-index: 1001;
}

.image-icon * {
 vertical-align: middle;
}

.image-icon img{
  padding-right:7%;
}

.image-icon img:hover{
  -webkit-filter: invert(65%) sepia(15%) saturate(806%) hue-rotate(356deg) brightness(81%) contrast(80%);
}
#menu-toggle{
  opacity:0;
}

.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  right:20px;
  top: 7.7%;
  width: 3.1%;
  height: 18px;
  cursor:pointer;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--font-white);
  transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -8px;
}

.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 29%;
  height: 100%;
  margin: 0;
  padding: 260px 0 0 4%;
  list-style: none;
  background-color: var(--bg-dark);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index:1000;
}

.menu-item {
  display: block;
  padding: 12px;
  color: var(--font-white);
  font-family: var(--Roboto);
  font-size: 30px;
  font-weight: 600;
  line-height:1.5;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: var(--font-gold);
  color: var(--font-white);
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  left: 0;
}

.welcome-section{
  position: relative;
  text-align: end;
  padding-top: 0;
  height:585px;
}

.welcome-section img{
  width:68,3%;
  height:89,7%;

}

.welcome-section .title{
  position: absolute;
  text-align: start;
  top: 1.36%;
}

h1{
 margin:0px;
 padding-top:15%;
 padding-bottom: 8%;
 font-family: var(--Forum);
 letter-spacing: 5px;
 font-weight:normal;
 font-size: 50px;
 text-transform: uppercase;
}

.title{
 flex-direction: column;
 font-family: var(--Roboto);
 font-size: 30px;
 color:var(--font-white);
}

.title span{
font-family: var(--Forum);
 letter-spacing: 5px;
 line-height:56px;
 font-weight:normal;
 font-size: 50px;
 text-transform: uppercase;
}

.title h2{
 text-align: justify;
 padding-top:66px;
 padding-bottom: 60px;
 font-family:var(--Roboto);
 font-size: 22px;
 
}

.title button{
 width: 76%;
 height: 60px;
 border-radius: 7px;
 background-color: var(--dark-red);
 font-family: var(--Roboto);
 font-size: 20px;
 letter-spacing: 2px;
 color:var(--font-white);
 word-spacing: 1px;
}

.title button:link{
 background-color:var(--font-gold);
}
.title button:visited{
 background-color:var(--font-gold);
}
.title button:hover{
 background-color:var(--font-gold);
}

.section-title{
 justify-content: space-between;
 margin:0px;
 padding-bottom:11px;
 border-bottom: 3px solid var(--dark-red);
 font-family: "Forum", sans-serif;
 font-size: 80px;
 text-transform: uppercase;
}

.title-underline{
 position: relative;
 padding-top: 71px;
 font-family: "Forum", sans-serif;
 font-size: 50px;
 font-weight:normal;
 letter-spacing: 5px;
 text-transform: uppercase;
 color: var(--font-gold);
}
.title-underline::after {
 content: "";
 position: absolute;
 bottom: -31px;
 left: 0;
 right: 0;
 height: 3px;
 background-color:var(--dark-red);
 }

.card-container{
 display:flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding-top: 91px;
 padding-bottom: 60px;
 padding-left: 108px;
 padding-right: 110px;
 gap: 54px 0px;
}

.card{
 display: block;
 padding-bottom: 1%;
 flex-direction: column;
 justify-content: space-between;
 width: 330px;
 height:36%;
 font-family: "Roboto" sans-serif;
 font-size:30px;
 text-decoration: none;
 color: black;
}
.card img{
  object-fit: fill;
 display: block;
 width: 100%;
 -webkit-transition: all 0.3s ease;;
 -moz-transition: all 0.3s ease;;
 -o-transition: all 0.3s ease;;
 transition: all 0.3s ease;
}
.card img:hover {
 -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}

.card h3{
 display: block;
 padding-top: 26px;
 font-family: "Forum", sans-serif;
 font-weight:normal;
 font-size: 28px;
 letter-spacing: 4.8px;
 word-spacing: 1.2px;
 color:var(--bg-dark);
 text-transform: uppercase;
}

.card h3::after {
 content: '';
 display: block;
 padding-bottom: 9.1px;
 width: 46%;
 border-bottom: 2px solid var(--dark-red);
 transition: all 0.3s ease;
 }

.card h3:hover:after {
 width: 100%;
}

.card span{
  padding-top: 7px;
  text-transform: capitalize;
  font-weight:normal;
  font-family: var(--Roboto);
  font-size: 18px;
  letter-spacing: 1.1px;
}

.card p{
 padding-top: 3%;
 font-size: 16px;
 line-height: 17px;
 font-family: var(--Roboto);

}

.explore-section{
 display:flex;
 justify-content: space-between;
}

.explore-section * {
  width: 48%;
}


.content-text{
 font-family: "Regular", sans-serif;
}

.explore-section h2{
 position: relative;
 margin-bottom: 89px;
 width: 100%;
 font-size: 80px;
 font-weight:normal;
 letter-spacing: 5px;
 text-transform: uppercase;
 font-family: "Forum", sans-serif;
 color:var(--font-white);
}

.explore-section h2::after {
 content: "";
 position: absolute;
 bottom: -25px;
 left: 0;
 right: 0;
 height: 4px;
 background-color:var(--dark-red);
}

 .explore-section p{
   width: 100%;
   padding-bottom: 30px;
   text-align: justify;
   line-height: 40px;
   font-size: 22px;
   font-family:var(--Roboto);
   color: var(--font-white);
 }

 .explore-section p span{
   color:var(--font-gold);
 }

 .explore-section img{
 object-fit: contain;
 width: 100%;
}

.video-section {
 font-family: "Roboto" sans-serif;
 font-size:32px;
}

.video-section button {
 background-color: transparent;
 border: none;
 background-repeat: no-repeat;
}
.video-section button{
  transition: 1s;
 }

 .video-section button:hover{
  transform: scale(1.2);
 }

.video-section .controls {
 display: flex;
 justify-content: space-around;
 align-items:center;
 background: var(--bg-dark);
 height: 72px;
 }

 .video-section .controls button {
   width: 40px;
   height: 40px;
   background-size: 70%;
   background-position: 50%;
 }

 .video-section .controls button.play {
   background-image: url(./assets/img/button_2.png);
 }

 .video-section .controls button.back {
   background-image: url(./assets/img/button_3.png);
 }

 .video-section .controls button.forward {
   background-image: url(./assets/img/button_4.png);
 }

 .video-section .controls button.volume {
   background-image: url(./assets/img/button_5.png);
 }

 .video-section .controls button.fullscreen {
   background-image: url(./assets/img/button_6.png);
 }

 .video-section .controls * {
   vertical-align: middle;
 }

 .video{
   display: block;
   position: relative;
   background-color: black;
}

.video video{
  width:100%;
}

.video button {
   display: block;
   position: absolute;
   width:16%;
   height:37%;
   bottom:32%;
   left:42%;
   background-size: 100%;
   background-image: url(./assets/img/button_1.png);
   transition: 1s;
}
.video button{
  transition: 1s;
}

video button:hover{
  transform: scale(1.2);
}

.progress-big {
   background: linear-gradient(to right, #679dad 0%, #679dad 40%, grey 40%, grey 100%);
   border: solid 2px black;
   border-radius: 0;
   height: 10px;
   width: 57%;
   outline: none;
   transition: background 450ms ease-in;
   -webkit-appearance: none;
 }

 .progress-big::-webkit-slider-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   -webkit-appearance: none;
   cursor: ew-resize;
   background: var(--font-white);
 }
 .progress {
   background: linear-gradient(to right, #679dad 0%, #679dad 40%, grey 40%, grey 100%);
   border: solid 2px black;
   border-radius: 0;
   height: 10px;
   width: 10%;
   outline: none;
   transition: background 450ms ease-in;
   -webkit-appearance: none;
 }

 .progress::-webkit-slider-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   -webkit-appearance: none;
   cursor: ew-resize;
   background: var(--font-white);
 }

.text-video-section{
   display:flex;
   justify-content: space-between;
   align-items:flex-start;
   padding-top: 3%;
}
  .text-video-section h2{
   width:55%;
   text-align: justify;
   color:var(--font-gold);
   font-family: "Forum", sans-serif;
   font-size: 80px;
   text-transform: uppercase;
   font-weight: normal;
   letter-spacing: 5px;
}

 .text-video-section p{
  width:45%;
  text-align:justify;
  font-family:var(--Roboto);
  font-size: 21px;
  font-weight:bold;
  line-height: 2;
 }

 .tickets-section h2{
   color:var(--font-white);

 }

 .tickets-big-container{
  display:flex;
  justify-content: space-between;
   padding-top: 7%;
}
.tickets-big-container > *{
  width:47%;
}


.radio-ticket{
  width:50%;
  padding-left: 4%;
}

.radio-ticket h3{
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--Roboto-bold);
  text-transform: capitalize;

}

.container-ticket {
  display: block;
  font-size: 22px;
  line-height: 3.5;
  font-family: var(--Roboto);
  cursor: pointer;
}

.container-ticket span {
  vertical-align: middle;
}

.container-ticket input ~ span::before {
  vertical-align: middle;
  display: inline-block;
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
   box-shadow: 0px 0px 2px 2px var(--font-white);
}

.container-ticket input[checked] ~ span::before {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 4px solid #000;
}

.button-ticket h4{
  display:block;
  text-align:right;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--Roboto-bold);
  text-transform: capitalize;
}

.button-ticket span{
  display: block;
  font-size: 22px;
  line-height: 3.5;
  font-family: var(--Roboto-bold);
}


.button-ticket {
  width: 178px;
  margin-left: 28px;
}

.button-ticket .counter-group {
  width: 150px;
  border: 2px solid #fff;
}

.button-ticket .counter-group button{
  width:44px;
  height:50px;
  font-size: 22px;
  background-color: transparent;
  color: white;
  border: none;
}

.button-ticket .counter-group input{
  width:48px;
  height:50px;
  font-size:22px;
  background-color: transparent;
  color: var(--font-white);
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}


.button-ticket .total-button{
  width:178px;
  height:50px;
  font-size: 22px;
  font-family: var(--Roboto-);
  text-transform: capitalize;
  background-color:  var(--font-white);
  color:var(--bg-dark);
  border: none;
  margin-left: -28px;

}

.tickets-section{
   color:var(--font-white);
}

.contacts-container{
 display:flex;
 justify-content: space-between;
 padding-top: 103px;

 }
 .contacts-container img{
width: 100%;
 }

 .section-text-contacts{
   width: 37%;
   color:black;
   font-family: "Roboto", sans-serif;
   font-size: 25px;
 }

.section-text-contacts h4{
  padding-top: 10px;
  padding-bottom:5%;
  font-family: var(--Roboto-bold);
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5;

 }
 .section-text-contacts p{
   line-height: 2;
   font-size: 22px;
 }

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 140px;
}

.footer > * {
  height: 140px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  width:75%;
}

.image-icon-footer{
width: 25%;
 font-family: var(--Forum);
 font-size: 28px;
 text-transform: uppercase;
 letter-spacing: 5px;
 color: var(--font-white);
}

.image-icon-footer * {
 vertical-align: middle;
}

.image-icon-footer img{
  padding-right: 2%;
}

.nav-container-1 {
  width: 50%;

}

.nav-container-1 ul {
 columns: 2;
 -webkit-columns: 2;
 -moz-columns: 2;
 list-style: none;
}

.nav-container-1 li {
font-family:var(--Roboto);
 font-size: 22px;
 letter-spacing: 3px;
 word-spacing: 1px;
 margin-bottom: 22px;
}

.nav-container-3 {
  width: 30%;
  position: relative;
  height: 100%;
}

.nav-container-3 ul {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  justify-content: space-between;
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  color: var(--font-white);
}

.nav-container-3 ul li {
  display: inline-block;
}

.nav-container-3 a{
  width: 100%;
  object-fit: fill;
  display: block;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.nav-container-3 a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


.container-ticket input {
  display: none;

}

.container-ticket {
  display: block;
}

.container-ticket span {
  vertical-align: middle;
}

.container-ticket input ~ span::before {
  vertical-align: middle;
  display: inline-block;
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #fff;
}

.container-ticket input:checked ~ span::before {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 4px solid #000;

}


.ticket-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.ticket-radio:hover input ~ .checkmark {
  background-color: #ccc;
}


.ticket-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.ticket-radio input:checked ~ .checkmark:after {
  display: block;
}


.ticket-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}